Dev/Fab/Client/Silverlight/src/Fab.Client/Service References/ApiServiceReference/ApiService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Fab.Server.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Fab.Server.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://thor/fab/ApiService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:import schemaLocation="http://thor/fab/ApiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
  <xs:complexType name="Account">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AssetType" nillable="true" type="tns:AssetType" />
          <xs:element minOccurs="0" name="AssetTypeReference" nillable="true" type="q1:EntityReferenceOfAssetTypeQ4jSz9U_P" />
          <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Postings" nillable="true" type="tns:ArrayOfPosting" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q1:EntityReferenceOfUserQ4jSz9U_P" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="AssetType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Accounts" nillable="true" type="tns:ArrayOfAccount" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Postings" nillable="true" type="tns:ArrayOfPosting" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssetType" nillable="true" type="tns:AssetType" />
  <xs:complexType name="ArrayOfPosting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Posting" nillable="true" type="tns:Posting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPosting" nillable="true" type="tns:ArrayOfPosting" />
  <xs:complexType name="Posting">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
          <xs:element minOccurs="0" name="AccountReference" nillable="true" type="q3:EntityReferenceOfAccountQ4jSz9U_P" />
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="AssetType" nillable="true" type="tns:AssetType" />
          <xs:element minOccurs="0" name="AssetTypeReference" nillable="true" type="q3:EntityReferenceOfAssetTypeQ4jSz9U_P" />
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Journal" nillable="true" type="tns:Journal" />
          <xs:element minOccurs="0" name="JournalReference" nillable="true" type="q3:EntityReferenceOfJournalQ4jSz9U_P" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Posting" nillable="true" type="tns:Posting" />
  <xs:complexType name="Journal">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="JournalType" nillable="true" type="tns:JournalType" />
          <xs:element minOccurs="0" name="JournalTypeReference" nillable="true" type="q4:EntityReferenceOfJournalTypeQ4jSz9U_P" />
          <xs:element minOccurs="0" name="Postings" nillable="true" type="tns:ArrayOfPosting" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Journal" nillable="true" type="tns:Journal" />
  <xs:complexType name="JournalType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Journals" nillable="true" type="tns:ArrayOfJournal" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JournalType" nillable="true" type="tns:JournalType" />
  <xs:complexType name="ArrayOfJournal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Journal" nillable="true" type="tns:Journal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJournal" nillable="true" type="tns:ArrayOfJournal" />
  <xs:complexType name="Transaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Journal">
        <xs:sequence>
          <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" minOccurs="0" name="CategoryReference" nillable="true" type="q6:EntityReferenceOfCategoryQ4jSz9U_P" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="Price" type="xs:decimal" />
          <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="Category">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q7:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Transactions" nillable="true" type="tns:ArrayOfTransaction" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q7:EntityReferenceOfUserQ4jSz9U_P" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q8:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Accounts" nillable="true" type="tns:ArrayOfAccount" />
          <xs:element minOccurs="0" name="Categories" nillable="true" type="tns:ArrayOfCategory" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element minOccurs="0" name="IsDisabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastAccess" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Registered" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="ArrayOfAssetType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetType" nillable="true" type="tns:AssetType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssetType" nillable="true" type="tns:ArrayOfAssetType" />
  <xs:complexType name="ArrayOfJournalType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JournalType" nillable="true" type="tns:JournalType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJournalType" nillable="true" type="tns:ArrayOfJournalType" />
  <xs:complexType name="ArrayOfTransactionRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionRecord" nillable="true" type="tns:TransactionRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionRecord" nillable="true" type="tns:ArrayOfTransactionRecord" />
  <xs:complexType name="TransactionRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Expense" type="xs:decimal" />
      <xs:element minOccurs="0" name="Income" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionRecord" nillable="true" type="tns:TransactionRecord" />
</xs:schema>