Dev/Fab/Client/Silverlight/src/Fab.Client/Service References/MoneyServiceReference/MoneyService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Fab.Server.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Fab.Server.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://thor/fab/MoneyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Fab.Server.Core.DTO" />
  <xs:complexType name="ArrayOfTransactionRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionRecord" nillable="true" type="tns:TransactionRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionRecord" nillable="true" type="tns:ArrayOfTransactionRecord" />
  <xs:complexType name="TransactionRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Fab.Server.Core.DTO" minOccurs="0" name="Category" nillable="true" type="q1:CategoryDTO" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Expense" type="xs:decimal" />
      <xs:element minOccurs="0" name="Income" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionRecord" nillable="true" type="tns:TransactionRecord" />
</xs:schema>